.exams-container {
    width: 100%;
    font-family: roboto;
}
.exam-chapter {
    display: block;
    cursor: pointer;
}
.exam {
    background-color: #F7F8FA;
    display: block;
    padding: 10px;
    color: #000;
}
.exam:hover {
    text-decoration: none;
}
.exam-chapter {
    border: 2px solid #D3D3D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exam-exam {
    border: 0.1px solid #dfdede;
    display: none;
}
.show {
    display: flex;
}
.exam-exam .exam-icon {
    color: seagreen;
    margin: 4px;
}
.exam-exam .exam-title {
    font-size: 20px;
    opacity: 0.9;
}
.exam-info {
}
.exam-title {
    margin: 0;
}
.exem-description {
    margin: 0;
    opacity: 0.7;
}
.exam-icon {
    font-size: 20px;
    display: block;
}